@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:#2c2765;
    --text:rgb(91, 89, 89);
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
    
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 2rem;

}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn{
    display: inline-block;
    background-color: var(--white);
    border-radius: 2rem;
    border-color: var(--black);
    margin-top: 3rem;
    margin-left: 2rem;
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border-style: dashed;
}

.btn:hover{
    background: var(--main-color);
    color: white;
}

#sign-in-btn{
    background-color: var(--main-color);
    color: white;
    border-radius: 2rem;
    width: 14rem;
    padding: 0.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
}

#sign-in-btn:hover{
    cursor: pointer;
    transition: 0.5s;

    color: white;
    background-color: rgb(0, 0, 0);
    
    border: none;

}

#sign-out-btn{
    background-color: rgb(0, 0, 0);

    color: white;
    border-radius: 2rem;
    width: 14rem;
    padding: 0.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
}

#sign-out-btn:hover{
    cursor: pointer;
    transition: 0.5s;

    color: white;
    background-color: red;
    border: none;

}







#explore-btn{
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 20rem;
    background-color: var(--white);
    color: var(--main-color);
}

#explore-btn:hover{
    background-color: var(--main-color);
    color: var(--white);
    transform: scale(1.1);
    border-style: dotted;
    border-color: #2c2765;
}


.heading-title{
    text-align: left;
    margin-bottom: 3rem;
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-transform: uppercase; */
    color: rgb(62, 124, 205);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 7rem;

}

.header .logo img{
    font-size: 2.5rem;
    color: var(--black);
    width: 5rem;

}



.header .navbar a{
    transition: 0.1s;
    font-size: 2.1rem;
    margin-left: 2rem;
    color: var(--main-color);
    border-bottom: none;
    text-decoration: none;
    font-weight: 600;
    

}



.header .navbar a:hover{
    transition: 0.1s;

    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    border-width: 0.2rem;
    padding-bottom: .5rem;

}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    display: none;
}





.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
    text-align: center;
    align-items: center;
    align-content: center;
}

.about .image img{
    width: 70%;
    height: 40rem;
}

.about .content{
    margin-bottom: 10rem;
    flex: 1 1 41rem;
    text-align: center;
}


.about .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.menu-packages .box-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    grid-column-start: 2;
}


.menu-packages .box-container .box{
    box-shadow: var(--box-shadow);
    background:var(--main-color);
    align-items: center; /* Center items vertically */
    display: inline-block;
    color: var(--white);
    font-size:2.5rem;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;    
    transition: 1s; 

}

.menu-packages .box-container .box:hover{
    background-color: var(--black);
    transition: 1s; 

}



.packages .box-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}


.packages .box-container .box{
    box-shadow: var(--box-shadow);
    background:var(--white);
    align-items: center; /* Center items vertically */
    display: inline-block;
    

}



.packages .box-container .box:hover .image img{
    transform: scale(1.1);
}



.packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    flex-shrink: 0; /* Prevent the image from shrinking */
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}


.packages .box-container .box .image img{
    height:auto;
    max-width:100%;
    object-fit: cover;
    transition: .2s linear;
    /* width: 55%;  */
    width: 80%; 
}


.packages .box-container .box .content{
    padding:2rem;
    text-align: center ;
}



.packages .box-container .box .content .box-buttons{
    display: flex;
    margin: auto;
    margin-right: 2rem;
}

.packages .box-container .box .content .box-buttons .btn{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 90%; 
    text-align: center;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 1rem;
    
}
.packages .box-container .box .content .box-buttons .btn:hover{
    /* box-shadow: 4px 4px 4px rgba(36, 36, 33, 0.496); */
    background-color: var(--black);

}

.packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}



.review{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.review .image{
    flex: 1 1 41rem;

}

.review .image iframe{
    width: 100%;
}










.review .form{
    flex: 1 1 41rem;

}

.review .form .review-form{
    
    padding: 2rem;
    width: 100%;
    background-color: rgb(219, 219, 255);
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--light-bg);
}

.review .form .review-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}



.review  .form .review-form .flex .inputBox{
    flex: 1 1 41rem;
}


.review  .form .review-form .flex .inputBox input,select{
    width:100%;
    padding: 1.2rem 1.4rem;
    font-size:1.6rem;
    color:var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border:var(--border);
}
textarea{
    width:100%;
    padding: 1.2rem 1.4rem;
    font-size:1.6rem;
    color:var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border:var(--border);
    resize: none;
}
.review  .form .review-form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--white);
}


.review .form .review-form .flex .inputBox input:focus::placeholder{
    color: var(--light-white);
}

.review .form .review-form .flex .inputBox span{
    font-size:1.5rem;
    color: var(--light-black);

}

.review .form .review-form .btn{
    margin-top: 2rem;
    font-size:1.6rem;

}


.review  .form .review-form .flex .inputBox textarea{
    width:100%;
    padding: 1.2rem 1.4rem;
    font-size:1.6rem;
    color:var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border:var(--border);
    resize: none;
}

.review  .form .review-form .flex .inputBox textarea:focus{
    background: var(--black);
    color: var(--white);
}


.review .form .review-form .flex .inputBox textarea:focus::placeholder{
    color: var(--light-white);
}







.menu-options .box-container .box{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 8rem; 
    margin: auto;
    border-radius: 2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(36, 36, 33, 0.496);

}


.menu-options .box-container .box button{
    text-decoration: none;
     font-size: 2.3rem;
     font-weight: 600;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-transform: capitalize;
      color: #333;
       background-color: transparent;
       border-radius: 2rem;
       width: 12rem;
       height: 4rem;
       margin: auto;
}

.menu-options .box-container .box button:hover{
    color: #f4510b;
}

















































.footer{
    background: black;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}


.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}

.footer .credit span{
    color: var(--main-color);
}



































/* media queries */

@media(max-width:1200px){
    section{
        padding: 3rem 5%;
    }

 
}

@media(max-width:991px){

    html{
        font-size: 55%;
    }
    
    section{
        padding: 3rem 2rem;
    }

    .home .slide .content h3{
        font-size: 10vw;
    }

    
        
        
}

@media(max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    .header .navbar a{
        color: var(--black);
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }


    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}


@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }
    
}


@media(max-width:416px){
    .about .image .carousel .carousel-inner .carousel-item img{
        width: 40rem;
        height: 40rem;
     }
}


@media(max-width:349px){
    .about .image .carousel .carousel-inner .carousel-item img{
        width: 35rem;
        height: 35rem;
     }
}


@media(max-width:310px){
    .about .image .carousel .carousel-inner .carousel-item img{
        width: 30rem;
        height: 30rem;
     }
}









